		*{
 margin : 0;
 padding: 0;
 box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 20px;
}


img {
    max-height: 150px;
    /*float: left;*/
    margin-right: 3px;
    margin-bottom: 3px;
    margin-top: 5px;
    }

